.header {
  z-index: 20;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  position: fixed;
  transition: 0.3s ease-in-out;

  &.sticky-navbar {
    height: 60px;

    .header__wrapper {
      height: 60px;
    }

    .header__controls__inner {
      top: 60px;
      height: calc(100% - 60px);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 19px 0;
    transition: 0.3s ease-in-out;
  }

  &__logo {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.59px;
    text-transform: uppercase;
    color: #000000;

    @media (min-width: $md-up) {
      margin-right: 30px;
    }
  }

  &__controls {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media (max-width: $md-down) {
        position: relative;
      }
    }

    &__inner {
      @media (max-width: $md-down) {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 80px;
        right: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: rgba(0, 0, 0, 0.6);
        transform: translate(100%,0);
        transition: top .2s ease;
      }
      
      &__wrapper {
        display: flex;
        align-items: center;

        @media (max-width: $md-down) {
          position: absolute;
          top: 0;
          right: 0;
          flex-direction: column;
          justify-content: flex-start;
          width: 250px;
          height: 100%;
          padding: 20px 15px;
          background: #fff;
          transform-origin: 0 0;
          transform: translate(100%,0);
          transition: transform .5s cubic-bezier(.77,.2,.05,1);
          border-radius: 0;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $md-down) {
        flex-direction: column;
        justify-content: flex-start;
      }

      &-item {
        margin-right: 24px;

        @media (max-width: $md-down) {
          text-align: center;
          padding: 20px 0;
          margin: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &__link {
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: -0.13px;
          color: #AAAAAA;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    &__button {
      width: 112px;
      height: 42px;
      border: 1px solid #000000;
      border-radius: 40px;
      margin-left: 64px;

      @media (max-width: $md-down) {
        margin: 30px auto 0;
      }

      &:hover {
        background: #000000;
        color: #FFFFFF;
      }

      &:active {
        background: #1E1E1E;
        color: #FFFFFF;
      }
    }
  }

  @media (min-width: $md-up) {
    #checkbox-burger,
    .burger {
      display: none;
    }
  }

  @media (max-width: $md-down) {
    #checkbox-burger {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: -12px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }

    .burger {
      order: 2;
    }

    .burger span {
      display: block;
      width: 20px;
      height: 2px;
      margin-bottom: 3px;
      position: relative;
      background: #000000;
      z-index: 1;
      transform-origin: 4px 0;
      transition: transform .5s cubic-bezier(.77,.2,.05,1), background .5s cubic-bezier(.77,.2,.05,1), opacity .55s ease;
    }

    .burger span:first-child {
      transform-origin: 0 0;
    }

    .burger span:nth-last-child(2) {
      transform-origin: 0 100%;
    }

    #checkbox-burger:checked~.burger span {
      opacity: 1;
      transform: rotate(-45deg);
      background: #000000;
    }

    #checkbox-burger:checked~.burger span:nth-last-child(3) {
      transform: rotate(45deg) translate(1px,-3px);
    }

    #checkbox-burger:checked~.burger span:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0) scale(.2,.2);
    }

    #checkbox-burger:checked~.header__controls__inner .header__controls__inner__wrapper {
      transform: none;
    }

    #checkbox-burger:checked~.header__controls__inner {
      transform: none;
    }
  }
}